In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split 
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OrdinalEncoder
from scipy import stats

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
dataset = pd.read_csv("C:/Users/pedro.martins/OneDrive - Kestraa/25 do 12/Python Scripts/Machine Learning/Dados/Stars.csv")
dataset

     Temperature              L          R    A_M  Color Spectral_Class  Type
0           3068       0.002400     0.1700  16.12    Red              M     0
1           3042       0.000500     0.1542  16.60    Red              M     0
2           2600       0.000300     0.1020  18.70    Red              M     0
3           2800       0.000200     0.1600  16.65    Red              M     0
4           1939       0.000138     0.1030  20.06    Red              M     0
..           ...            ...        ...    ...    ...            ...   ...
235        38940  374830.000000  1356.0000  -9.93   Blue              O     5
236        30839  834042.000000  1194.0000 -10.63   Blue              O     5
237         8829  537493.000000  1423.0000 -10.73  White              A     5
238         9235  404940.000000  1112.0000 -11.23  White              A     5
239        37882  294903.000000  1783.0000  -7.80   Blue              O     5

[240 rows x 7 columns]

In [3]:
ord_enc = OrdinalEncoder()
dataset["color_code"] = ord_enc.fit_transform(dataset[["Color"]])
dataset["spectral_code"] = ord_enc.fit_transform(dataset[["Spectral_Class"]])
dataset[["Spectral_Class", "spectral_code"]].tail()

    Spectral_Class  spectral_code
235              O            6.0
236              O            6.0
237              A            0.0
238              A            0.0
239              O            6.0

In [4]:
dataset.drop(columns=["Color", "Spectral_Class"], inplace=True)

In [5]:
dataset = dataset.reindex(columns=["Temperature", "L", "R", "A_M", "color_code", "spectral_code", "Type"])
dataset

,Temperature,L,R,A_M,color_code,spectral_code,Type
0,3068,0.002400,0.1700,16.12,8.0,5.0,0
1,3042,0.000500,0.1542,16.60,8.0,5.0,0
2,2600,0.000300,0.1020,18.70,8.0,5.0,0
3,2800,0.000200,0.1600,16.65,8.0,5.0,0
4,1939,0.000138,0.1030,20.06,8.0,5.0,0
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,0.0,6.0,5
236,30839,834042.000000,1194.0000,-10.63,0.0,6.0,5
237,8829,537493.000000,1423.0000,-10.73,9.0,0.0,5
238,9235,404940.000000,1112.0000,-11.23,9.0,0.0,5
239,37882,294903.000000,1783.0000,-7.80,0.0,6.0,5

In [6]:
dataset.isnull().sum()

Temperature      0
L                0
R                0
A_M              0
color_code       0
spectral_code    0
Type             0
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Temperature    240 non-null    int64
 1   L              240 non-null    float64
 2   R              240 non-null    float64
 3   A_M            240 non-null    float64
 4   color_code     240 non-null    float64
 5   spectral_code  240 non-null    float64
 6   Type           240 non-null    int64
dtypes: float64(5), int64(2)
memory usage: 13.2 KB

In [8]:
previsores = dataset.iloc[:, 0:5]
classe = dataset.iloc[:, 5]
previsores

     Temperature              L          R    A_M  color_code
0           3068       0.002400     0.1700  16.12         8.0
1           3042       0.000500     0.1542  16.60         8.0
2           2600       0.000300     0.1020  18.70         8.0
3           2800       0.000200     0.1600  16.65         8.0
4           1939       0.000138     0.1030  20.06         8.0
..           ...            ...        ...    ...         ...
235        38940  374830.000000  1356.0000  -9.93         0.0
236        30839  834042.000000  1194.0000 -10.63         0.0
237         8829  537493.000000  1423.0000 -10.73         9.0
238         9235  404940.000000  1112.0000 -11.23         9.0
239        37882  294903.000000  1783.0000  -7.80         0.0

[240 rows x 5 columns]

In [9]:
x_treino, x_teste, y_treino, y_teste = train_test_split(previsores, classe, test_size = 0.3, random_state = 0)

In [10]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_treino, y_treino)

KNeighborsClassifier(n_neighbors=3)

In [11]:
previsao = knn.predict(x_teste)
previsao

array([6., 5., 2., 5., 6., 6., 1., 6., 0., 5., 5., 1., 1., 1., 6., 5., 5.,
       5., 6., 5., 6., 6., 1., 5., 5., 2., 5., 0., 5., 5., 5., 5., 1., 5.,
       0., 6., 0., 5., 5., 5., 1., 5., 0., 5., 6., 5., 5., 5., 5., 5., 5.,
       1., 6., 5., 4., 0., 1., 0., 5., 6., 5., 1., 2., 0., 1., 1., 5., 1.,
       5., 5., 5., 5.])

In [12]:
conf = confusion_matrix(y_teste, previsao)
conf

array([[ 3,  0,  0,  0,  0,  0,  0],
       [ 3, 11,  0,  0,  0,  0,  3],
       [ 2,  0,  3,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  1],
       [ 0,  0,  0,  0,  1,  2,  0],
       [ 0,  0,  0,  0,  0, 29,  0],
       [ 0,  2,  0,  0,  0,  4,  8]], dtype=int64)

In [13]:
taxaAcerto = accuracy_score(y_teste, previsao)
taxaAcerto

0.7638888888888888